body {
  font-family: 'Times New Roman', serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: #3b3a30;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.logo img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: 10px;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
  margin: 0 15px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

main {
  background-size: cover;
  height: 400px;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

main h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

footer {
  background-color: #3b3a30;
  color: white;
  text-align: center;
  padding: 2vh;
  position: absolute;
  width: 100vw;
  bottom: 0;
}