body {
    font-family: 'Times New Roman', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3b3a30;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.logo img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10px;
    top: 10px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline;
    margin: 0 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
footer {
    background-color: #3b3a30;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100vw;
}
main{
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f8f5;
    margin: 20px;
    border-radius: 5px;
    line-height: 1.6;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

#register {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #3b3a30;
    color: white;
    border: none;
    cursor: pointer;
}